
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    
}
.sidebar-element{
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: scale 0.4s;
    margin-right: 5px;
}
.sidebar-element:hover{
    scale: 1.05;
    
}
.sidebar-element img{
    height: 20px;
}
.sidebar-element p{
    margin: 0;
    font-size: 8px;
}